@charset "utf-8";

@font-face {
  font-family: Kiwi Days;
  src: local("Kiwi Days"),
      url("~/assets/fonts/Kiwi_Days.ttf");
}

@font-face {
  font-family: Kiwi Raspberry;
  src: url("~/assets/fonts/kiwi-raspberry.regular.ttf");
}
